*{margin: 0;padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
/* 顶部 */
  header{width: 1200px;height: 55px;border-bottom:1px solid #7a7f89;margin: 15px auto 0;}
  header>a{float: left;width: 187px;height: 50px;}
/* 主体 */
  main{width: 1200px;margin: 0 auto;border-bottom: 1px solid #7a7f89;padding: 10px 0 0;position: relative;}
  main>h2{margin: 0 0 10px 20px;}
  .address {width: 100%;}
  .newAddress {float: left;width: 1076px;margin: 10px 60px 0;
              cursor: pointer;border-radius: 10px;
              text-align: center;padding:10px 0;
              font-size: 18px;
              border:2px dashed #fa2;}
  .newAddress:hover{border:2px solid #a10000;color: #a10000;}
  .address .newAddress:hover {background: #a10000;color: white;}
  .address ul {width: 90%;height: auto;background: #eee;margin: 0 auto;}
  .address ul li {display: block;height: 60px;
            line-height: 60px;text-align: left;
            text-indent: 10px;font-family: "微软雅黑";
            border-radius: 10px;
            cursor: pointer;border: 2px solid darkgoldenrod;
          }
  .address ul li span {float: right;margin-right: 20px;font-size: 18px;}
  .address ul li span:hover{color: #fff;}
  .address ul li:hover {background: orange;}
  .add {
    width: 600px;
    height: 400px;
    background: #eaeaea;
    position: absolute;
    left: 300px;
    top: 100px;
    display: none;
  }
  
  .add>span {width: 30px;height: 30px;
        float: right;cursor: pointer;
        color: #fff;background: red;
        text-align: center;line-height: 30px;
        }
  .active {background: #0dd;}
  #add form{margin: 50px 0 0 30px;}
  #add form p{display: block;width: 500px;height: 50px;
          line-height: 50px;font-size: 16px;position: relative}
  #add form p span{width: 100px;text-align: center;display: inline-block;}
  #add form p input{width: 200px;height: 40px;
          position: absolute;left:100px;}
  #add form input[type="button"]{
          position: absolute;right:20px;bottom:10px;
          width: 120px;height: 40px;
          border:none;outline: none;cursor: pointer;
          color:#fff;background: #aa4100}
  #sum{width: 400px;height: 30px;
    float: left;font-weight: bold;
    text-align: left;position: relative;
    top:35px;
    padding:25px 20px 0 10px;}
  
  #order {width: 130px;height: 50px;
          border:none;outline: none;
          border:3px solid transparent;
          border-radius: 15px;
          margin-left: 1000px;
          background: orange;
          color:#fff;font-weight: bolder;
          font-size: 20px;cursor: pointer;
          position: relative;top:-10px;
          }
  #order:hover{border:3px solid #a10000;color: #000}
/* 底部 */
  footer{width: 980px;height: 104px;
    padding-top: 15px;margin: 0 auto;
    font:100 12px "宋体";color: #999;}
  footer>p{margin-bottom: 20px;width: 980px;text-align: center;}
  footer>div{margin-bottom: 25px;text-align: center;}
  footer>div>a:first-child{height:42px;width: 113px;display: inline-block;
    background: url(../img/login_spritesbg.png) no-repeat scroll 0 -400px transparent}
  footer>div>a:nth-child(3){height:42px;width: 96px;display: inline-block;
    background: url(../img/login_spritesbg.png) no-repeat scroll 0 -494px transparent}
  footer>div>a:last-child{height:42px;width: 101px;display: inline-block;
    background: url(../img/login_spritesbg.png) no-repeat scroll -97px -494px transparent}
  footer>div>span{height: 45px;width: 156px;display: inline-block;
    background: url(../img/login_spritesbg.png) no-repeat scroll 0 -448px transparent}